@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;800&display=swap');

.App {
  text-align: center;
  font-family: 'Abhaya Libre', serif;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.city-temp{
  font-size: xx-large;
  font-weight: 800;
  color: crimson;

}
